.container {
    display: flex;
    flex-direction: column;  
    margin: 10px 150px 100px 150px;
}
.header {
    background-color: #ff5555;
    height: 13%;
    min-height: 100px;
    line-height: 100%;
}
.main {
    height: 87%;
    display: flex;
    flex: auto;
    min-height: 650px;
    line-height: 100%;
}
.blue {
    background-color: #5585ff;
    flex-grow: 1;
}
.green {
    background-color: #55d87b;
    flex-grow: 6;
}
.brown {
    background-color: #9f6f3f;
    flex-grow: 1;
}