/* Position absolute : L'élément sort de sont cadre et se place en haut de notre page. 
    Si l'élément rencontre un élément parent qui possède la valeur "position:relative" alors il s'arretera à cet élément. (voir div classe verte et div classe rose)
*/

.jaune{
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
}

.orange{
    width: 100px;
    height: 50px;
    background-color: orange;
    position: absolute;
    top: 30px;
    left: 200px;
}

.rose{
    width: 400px;
    height: 500px;
    background-color: purple;
    position: relative;
}

.verte{
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top:30px;
    left: 200px;
}