#zoneHaut{
    background-color: red;
    width: 800px;
    height: 70px;
}

#zoneGauche{
    background-color: blue;
    width: 150px;
}
#zoneMilieu{
    background-color: green;
    width: 500px;
}
#zoneDroite{
    background-color: brown;
    width: 150px;
}

section{
    display: flex;
    height: 530px;
}